<h1 style="margin-top: 16px">Message Board</h1>

<form class="message-box" action="/message" method="post">
  <label for="messageText">Send a message:</label>
  <div class="flex">
    <input type="text" id="messageText" name="messageText" />
    <button type="submit">send</button>
  </div>
</form>

<ul class="message-list">
  {{#each messages}}
  <li class="message bg-{{random 8}}">{{text}}</li>
  {{/each}}
</ul>
