<h1>Message Board</h1>

<ul>
  {{#each messages}}
  <li style="font-style:italic">{{id}}: {{text}}</li>
  {{/each}}
</ul>

<form action="/message" method="post">
  <label for="messageText">message:</label>
  <input type="text" id="messageText" name="messageText" />
  <button type="submit">send</button>
</form>
