<form action="/register" method="post">
  <div>
    <label for="username-field">username</label>
    <input type="text" id="username-field" name="username" />
  </div>
  <div>
    <label for="password-field">password</label>
    <input type="password" id="password-field" name="password" />
    <label style="margin-left: 1em" for="password-repeat-field">repeat password</label>
    <input type="password" id="password-repeate-field" name="passwordRepeat" />
  </div>
  <button type="submit">register</button>
</form>